{%  extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}

    {% block header %}{% endblock %}

{#
Template for login form acquired from https://freefrontend.com/bootstrap-login-forms/
Template title: "BOOTSTRAP LOGIN SCREEN WITH FLOATING LABELS"
Template Author: StartBootstrap
Published: May 8, 2019

Template modified for simplicity to to eliminate unnecessary features.
#}
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-header">
                <img src="{{ url_for('static', filename='images/wgu_logo.png') }}" class="card-img">
            </div>
          <div class="card-body">
            <h5 class="card-title text-center">Enter your info</h5>
              <form method="POST">
                  <div class="form-group">
                      {# get user age #}
                      <div class="form-group">
                          <div class="row">
                              <div class="col">
                                  <label for="ageInput">Birthdate</label>
                                  <input name="birthdate" id="ageInput" class="form-control" placeholder="yyyymmdd">
                              </div>
                              <div class="col">
                                  <label for="heightInput">Height</label>
                                  <input name="height" id="heightInput" class="form-control" placeholder="in cm">
                              </div>
                              <div class="col">
                                  <label for="weightInput">Weight</label>
                                  <input name="weight" id="weightInput" class="form-control" placeholder="in kg">
                              </div>
                          </div>
                      </div>

                      {# get user gender #}
                      <label for="genderRadioButtonGroup">Gender</label>
                      <div class="form-group">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="gender" value="Female">
                              <label class="form-check-label" for="femaleInlineRadio">Female</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="gender" value="Male">
                              <label class="form-check-label" for="maleInlineRadio">Male</label>
                          </div>
                      </div>

                      {# get user blood pressure #}
                      <label for="bloodPressure">Blood Pressure</label>
                      <div class="form-group" id="bloodPressure">

                      {# systolic #}
                          <div class="row">
                            <div class="col">
                              <input id="systolic_bp" type="text" class="form-control" placeholder="Systolic">
                            </div>

                      {# diastolic #}
                            <div class="col">
                              <input id="diastolic_bp" type="text" class="form-control" placeholder="Diastolic">
                            </div>
                          </div>
                      </div>

                      {# get user blood glucose level #}
                      <div class="form-group">
                          <label for="dropdownSelect">Blood Glucose Level</label>
                          <select name="glucose_level" id="glucoseDropdownSelect" class="form-control">
                              <option value="1">Normal (Less than 140 mg/dL)</option>
                              <option value="2">Above Normal (Between 140 and 200 mg/dL)</option>
                              <option value="3">Well above normal (Greater than 200 mg/dL)</option>
                          </select>
                      </div>

                      {#  get user cholesterol level #}
                      <div class="form-group">
                          <label for="dropdownSelect">Cholesterol</label>
                          <select name="cholesterol_level" id="cholesterolDropdownSelect" class="form-control">
                              <option value="1">Normal (Less than 200)</option>
                              <option value="2">Above Normal (Between 200 and 240)</option>
                              <option value="3">Well above normal (Greater than 240)</option>
                          </select>
                      </div>

                      {# get user alcohol use #}
                      <div class="form-group">
                          <label for="alcoholRadioButtonGroup">Alcohol use</label>
                          <div name="alcohol_use" class="form-group" id="alcoholRadioButtonGroup">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="alcoholRadioButtonGroup" id="alchUseYesRadio" value="option1">
                                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="alcoholRadioButtonGroup" id="alchUseNoRadio" value="option2">
                                  <label class="form-check-label" for="inlineRadio2">No</label>
                              </div>
                          </div>
                      </div>

                      {# get user physical acitvity #}
                      <div class="form-group">
                          <label for="activityRadioButtonGroup">Are you physically active?</label>
                          <div name="physically_active" class="form-group" id="activityRadioButtonGroup">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="activityRadioButtonGroup" id="activeYesRadio" value="option1">
                                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="activityRadioButtonGroup" id="activeNoRadio" value="option2">
                                  <label class="form-check-label" for="inlineRadio2">No</label>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="submitDataButton">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% block footer %}{% endblock %}

{% endblock %}