body {
    background: darkslategray;
    background: linear-gradient(to right, dimgray, darkgray);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}

.graphBox {
    /*border: 1px solid black;*/
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}

.dash-table-container{
    padding: 20px;
}

#logoutButton {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
    color:white;
    border-color: blue;
    background-color: royalblue;
  }