body {
    background: linear-gradient(to right, lightgray, darkgray);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}

.graphBox {
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}

.dash-table-container{
    padding: 20px;
}

h1 {
    text-align: center;
}