body {
    /*background: linear-gradient(to right, #c04848, #480048);*/
    background: darkslategray;
    background: linear-gradient(to right, dimgray, darkgray);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

#goBackButton #logoutButton{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

img {
    height: 170px;
    width: 140px
}

.graphBox {
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}